.form {
    display: flex;
    flex-direction: column;
    padding: 16;
    gap: 4*(8);
    
    &__info {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 4*(4);
    }

    &__field {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 4*(4);
        gap: 4*(2);  
    }

    &__button-update {
        border: 1px solid #ddd;
        padding: 4*(2);
        background-color: aqua;
        width: 100%;
    }
    &__button-del {
        border: 1px solid #ddd;
        padding: 4*(2);
        background-color: red;
        width: 100%;
    }

    &__input {
        border: 1px solid #ddd;
        padding: 4*(2);
    }
    
    &__product-list {
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
        font-weight: 600;
        padding: 4*(2);
    }
    
    &__title {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 4*(4);
    }
    
    &__content {
    display: grid;
    border: 1px solid #ddd;
    padding: 4*(2);
    gap: 4*(6);
    }    
    
    &__block {
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
        gap: 24px;
    }
    
    &__name {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 4*(4);
    }

    &__description {
        font-size: 15px;
        padding-bottom: 4*(4);
    }

    &__id {
        font-size: 17px;
        padding-bottom: 4*(4);
    }

    &__price {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 4*(4);
    }

    &__edit {
        font-size: 20px;
        font-weight: bold;
        color: blue;
        padding-bottom: 4*(4);
    }
}
